html {
  position: relative;
  background: #5C97FF;
  height: auto;
}

html:before {
  content: '';
  display: block;

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  z-index: -1;
  opacity: 0.05;

  background-image: url(../img/triplets.png);
  background-repeat: no-repeat;
  background-position: center;

  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

body {
  font-size: 18px;
  padding: 1.5em;
}
header {
/*
  border-bottom: 1px solid #222;
*/
  border-radius: 0;
  padding-bottom: 0px;
  width: 100%;
  overflow: auto;
  display: flex;
  align-items: baseline;
  margin-bottom: 0em;
}
header h1.title {
  width: 50%;
  float: left;
  white-space: nowrap;

  font-size: 48px;
  font-weight: 800;

  border-bottom: none;
  margin: 0;
  padding: 0;
}
header p.subtitle {
  width: 50%;
  float: right;
  text-align: right;

  font-size: 75%;
  font-weight: 600;
  font-style: italic;
  border-bottom: none;

  margin: 0;
  padding: 0;
}
.footnotes {
  font-size: 75%;
  margin-top: 2em;
}
.footnotes hr {
  display: none;
}
h1 {
  font-weight: 700;
}
h2 {
  border-bottom-color: #222;
  font-weight: 600;
}
h3 {
  border-bottom-color: #555;
}
p em {
  display: inline-block;
}
p em::first-letter {
/*
  font-weight: 600;
*/
  text-shadow: 1px 1px 1px #333;
}
.center {
  text-align: center;
}

/*
 * Prevent superscripts and subscript from affecting line height.
 * See https://css-tricks.com/snippets/css/prevent-superscripts-and-subscripts-from-affecting-line-height/
 */
sup, sub {
   vertical-align: baseline;
   position: relative;
   top: -0.4em;
}
sub { top: 0.4em; }

div.connect-buttons span {
  margin-right: 0.5em;
}

div.connections {
  display: flex;
  flex-direction: column;
  float: right;
}

div.connection {
  vertical-align: top;
  margin-right: 25px;
}

.tlc {
  font-family: 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
  font-size: 42px;
  font-weight: 500;
  margin-left: auto;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.tlcx {
  font-weight: 700;
}
